<div class="mob_infos">
    <div style="display:block;width:100%;background-color:#000000;">
        <img src="../../assets/images/news_5.jpg" class="mob_img_infos"/>
    </div>
    <div style="display:block;text-align:left;padding-top:10px;">
        <span style="font-size:18px; font-weight:bold;">
            La rumeur du jour : IT 's possible !
        </span><br/>
        <span style="font-size:9px;font-color:#555555;font-weight:normal;">
            Publié le 08/02/2018
            <br/>Par Gilles Dumeou
        </span>
        <hr/>
        <br/>
        <div style="text-align:justify; font-size:15px;line-height:22px;font-weight: normal;"
             [innerHtml]="infos_test"></div>
    </div>
</div>
<div class="infos">
    <div style="float:left;width:65%;text-align:left;padding-right:30px;">
        <span style="font-size:18px; font-weight:bold;">
            La rumeur du jour : IT 's possible !
        </span><br/>
        <span style="font-size:9px;font-color:#555555;font-weight:normal;">
            Publié le 08/02/2018, par Gilles Dumeou<br/><br/>
        </span>
        <div style="text-align:center;display:block;width:100%;background-color:#000000;">
            <img src="../../assets/images/news_5.jpg" class="mob_img_infos"/>
        </div>
        <br/>
        <div style="text-align:justify; font-size:15px;line-height:22px;font-weight: normal;"
             [innerHtml]="infos_test"></div>
        <br/><br/>
    </div>
    <div style="float:left;width:1px;min-height:80vh;background-color: #333333;"></div>
    <div style="float:right;width:30%;">Liste des news..</div>
</div>