/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    position: relative;
}

.example-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
}

.example-table {
    overflow: auto;
    min-height: 300px;
    max-height: 800px;
    max-width: 1200px;
    /*max-height: 800px;*/
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
}

/* Column Widths */
.mat-column-news_id {
    max-width: 50px;
}

.mat-column-news_type {
    max-width: 100px;
}

.mat-column-news_create {
    max-width: 100px;
}
.mat-column-news_update {
    max-width: 100px;
}

.mat-column-news_difuse {
    max-width: 60px;
}

.mat-column-news_user {
    max-width: 120px;

}.mat-column-news_edit {
    max-width: 50px;
    font-size: 10px;
}