<div style="width:1000px;">
    <div class="example-container mat-elevation-z8">
        <br/><img src="./assets/images/logo_fadeaway_01.png" style="width:260px;"/>
        <div class="example-loading-shade"
             *ngIf="isLoadingResults || isRateLimitReached">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                Problème de chargement... Patientez une minutes
            </div>
        </div>
        &nbsp; <button style="min-height:35px;background-color: rgba(241,148,58,0.8);" mat-raised-button (click)="addNewsAndRedirect()">Ajouter une news</button>
        <br/>
        <mat-table #table [dataSource]="dataSource" class="example-table"
                   matSort matSortActive="news_id" matSortDisableClear matSortDirection="desc">
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Number Column -->
            <ng-container matColumnDef="news_id">
                <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                <mat-cell *matCellDef="let row"><strong>{{ row.news_id }}</strong></mat-cell>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="news_title">
                <mat-header-cell *matHeaderCellDef>Titre</mat-header-cell>
                <mat-cell *matCellDef="let row"><strong>{{ row.news_title }}</strong></mat-cell>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="news_type">
                <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.news_type_str }}</mat-cell>
            </ng-container>

            <!-- Created Column -->
            <ng-container matColumnDef="news_create">
                <mat-header-cell *matHeaderCellDef
                                 mat-sort-header
                                 disableClear="true">
                    Créée le
                </mat-header-cell>
                <mat-cell *matCellDef="let row"><strong>{{ row.news_create }}</strong></mat-cell>
            </ng-container>

            <ng-container matColumnDef="news_update">
                <mat-header-cell *matHeaderCellDef>Modifiée le</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.news_update }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="news_difuse">
                <mat-header-cell *matHeaderCellDef>Difusée</mat-header-cell>
                <mat-cell *matCellDef="let row"><img src="./../../assets/images/check_{{ row.news_difuse }}.png"
                                                     style="height:18px;"/></mat-cell>
            </ng-container>

            <ng-container matColumnDef="news_user">
                <mat-header-cell *matHeaderCellDef>Par</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.news_user_nom }} {{ row.news_user_prenom }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="news_edit">
                <mat-header-cell *matHeaderCellDef>Editer</mat-header-cell>
                <mat-cell *matCellDef="let row" style="font-size:18px;">
                    <a routerLink="edit/{{row.news_id}}" style="text-decoration: none; color: black;"><mat-icon style="font-size:18px;">border_color</mat-icon></a>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [length]="resultsLength" [pageSize]="30">
        </mat-paginator>
    </div>
</div>

<loading-overlay *ngIf="loading"></loading-overlay>

